html,body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid azure;
}

.main-nav li{
    padding: 0 5%;
}

.main-header{
    background-image: url("https://i.pinimg.com/736x/74/98/3c/74983ca3e7b970f40da8c31ba6263c16.jpg");
    background-size:auto;
    padding-bottom:30px ;
}

.band-name{
    text-align: center;
    color:yellow;
    margin: 0;
    font-size: 4em;
}